html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    height: 300vh;
    font-family: sans-serif;
    background-color: #090979;
    
}
.nav{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 62%);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    }

.nav a{
    text-decoration: none;
    padding: 15px;
    color: #131752;
    font: 500 18px/24px sans-serif;
}

.nav a:last-child{
padding-right: 50px;
}

.tela_inteira{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff ;
    font-size: 1.5rem;
    text-align:center;
}


#Apresentacao h1,#Apresentacao h2,#Apresentacao h3{
    margin: 5px;
}

#Project{
    display:grid;
    grid-template-columns: 1fr;
    padding: 40px;
    gap: 30px;
    
}

#Project .Card{
    box-shadow: 0 0 5px #fff;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.4s ease;

}

#Project .Card:hover{
transform: scale(1.1);
}
#Project .Card .project_card{
    width: 100%;
    height: 250px;
}

.avatar{
    width: 50%;

}



@media(min-width:800px) {
    #Apresentacao{
        justify-content: space-between;
        flex-direction: row;
        padding: 0 50px;
    }
    #Apresentacao .bloco_de_texto{
    display: flex;
    flex-direction: column;
    }
    #Project{
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: 100px 300px 1fr;

  } 
}

